main {
  .banner {
    width: 100%;
    height: 90vh;
    background-image: url("../assets/bannerBackground.png");
    background-size: cover;
    background-position: start;

    .container {
      height: 100%;
      .row {
        height: 100%;
        .left {
          width: 100%;
          height: 100%;
          display: flex;
          padding: 0;

          .home-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            h1 {
              font-weight: 700;
              font-size: 2.65rem;
              color: var(--primary-color);
              padding-bottom: 1rem;
            }

            .buttons {
              display: flex;
              gap: 5%;

              .firstButton {
                background: transparent;
                border: 2px solid var(--primary-color);

                a {
                  color: var(--primary-color);
                }
              }
              .secondButton {
                background: var(--primary-color);

                a {
                  color: var(--main-color);
                }
              }
            }
          }
        }
      }
    }
  }

  .about {
    padding: 3rem 0;

    .container {
      .aboutRow {
        .aboutLeft {
          .aboutImage {
            width: 100%;
          }
        }
        .aboutRight {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 6%;

          .aboutSubHeading {
            width: 100%;

            h3 {
              font-weight: 700;
            }
          }
          .aboutParagraph {
            width: 100%;
          }
          button {
            background: var(--main-color);
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .volunteer {
    background: var(--main-color);
    color: var(--primary-color);
    padding: 3rem 0;

    .container {
      .row {
        .volunteerSides {
          .volunteerImages {
            width: 100%;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }
          .display {
            display: none;
          }
        }
        .volunteerCenter {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
            color: var(--primary-color);

            img {
              width: 5rem;
            }
          }
        }
      }
    }
  }

  .services {
    padding: 3rem 0;

    .container {
      .row {
        .right {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .display {
          display: none;
        }
      }
    }
  }

  .line {
    padding: 3rem 0;
    background-color: var(--sub-color);
    display: none;

    .container {
      .row {
        .left {
          img {
            width: 100%;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
          }
        }
        .right {
          padding-left: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .underline {
            border-bottom: 3px solid var(--main-color);
            padding-bottom: 2px;
            width: fit-content;
            font-weight: 500;
          }
          .text {
            padding-top: 0.5rem;
          }
        }
      }
    }
  }

  .support {
    padding: 3rem 0;
    background-color: var(--main-color);

    .container {
      border: 3px solid var(--primary-color);
      padding: 1.5rem;

      .inside{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: var(--primary-color);
        gap: .5rem;

        h2{
          font-weight: 700;
        }
      }
    }
  }
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  main {
    .about {
      .container {
        .aboutRow {
          .aboutRight {
            padding: 0 0 0 2rem;
            .aboutSubHeading {
              width: 40%;
            }
          }
        }
      }
    }

    .volunteer {
      .container {
        .row {
          .volunteerSides {
            .display {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    .about {
      .container {
        .aboutRow {
          .aboutRight {
            .aboutParagraph {
              width: 95%;
            }
          }
        }
      }
    }

    .services {
      .container {
        .row {
          .display {
            display: block;
          }
        }
      }
    }

    .line {
      display: block;
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
